<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Gene1</Data></Cell>
        <Cell><Data ss:Type="String">Name1</Data></Cell>
        <Cell><Data ss:Type="String">Gene2</Data></Cell>
        <Cell><Data ss:Type="String">Name2</Data></Cell>
        <Cell><Data ss:Type="String">Type</Data></Cell>
        <Cell><Data ss:Type="String">Exp</Data></Cell>
        <Cell><Data ss:Type="String">PMC</Data></Cell>
        <Cell><Data ss:Type="String">PMID</Data></Cell>
      </Row>
    <% @ppis.each do |p| %>
      <Row>
        <Cell><Data ss:Type="String"><%= p.gene1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= p.name1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= p.gene2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= p.name2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= p.itype %></Data></Cell>
        <Cell><Data ss:Type="String"><%= p.exp %></Data></Cell>
        <Cell><Data ss:Type="String"><%= p.pmc %></Data></Cell>
        <Cell><Data ss:Type="String"><%= p.pmid %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>