<div class="fixed-buttons">
  <%= link_to @document.project, class: "ui button small" do %>
    <i class="icon chevron left"></i> Back to Project
  <% end %>
  <button class="ui button small doc-info-btn" type="button">
    <i class="icon info circle"></i> Doc Info
  </button>
  <%= link_to "/documents/#{@document.id}.xml", class: 'ui button teal small' do %>
    <i class='icon download'></i> BioC 
  <% end %>

  <div class="ui teal buttons annotation-toggles">
    <div class="ui button">Annotation Types</div>
    <div class="ui floating dropdown icon button">
      <i class="dropdown icon"></i>
      <div class="menu" style='z-index:9999'>
        <div class="header">
          <i class="setting icon"></i>
          <%=link_to 'Settings', document_atypes_path(@document) %>
        </div>
        <div class="divider"></div>
        <% if @document.atypes.blank? %>
          <div class="item">
            <label>No annotation type found</label>
          </div>
        <% end %>
        <% @document.atypes.each do |type| %>
          <div class="item" data-type='A<%=type.id%>'>
            <div class="ui checkbox">
              <input type="checkbox" class="atype-check" checked>
              <label><div class="ui A<%=type.id%> empty circular <%='thin' if type.border? %> label" data-type='A<%=type.id%>'></div>
            <%=type.name %></label>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
<style type='text/css'>
  <% @document.atypes.each do |type| %>
    .ui.A<%=type.id%>.empty.label.circular {
      <% if type.border? %>
        border: 0.2em solid <%=type.color%> !important;
        width: 1em;
        height: 1em;
        box-sizing: border-box;
        padding: 0 !important;
      <% else %>
        background-color: <%=type.color%> !important;
      <% end %>

    }
  <% end %>
</style>
<script>
  $('.atype-check').change(function(e) {
    var $e = $(e.currentTarget);
    var type = $e.closest('.item').data('type');
    $('.main.pane').toggleClass(type + '-enabled', $e.prop('checked'));
  });
</script>