<div class="fixed-buttons">
  <%= link_to @document.project, class: "ui button small" do %>
    <i class="icon chevron left"></i> Back to Project
  <% end %>
  <button class="ui button small doc-info-btn" type="button">
    <i class="icon info circle"></i> Doc Info
  </button>
  <!-- <button class="ui button small merge-btn" type="button">
    <i class="icon plus"></i> Merge
  </button> -->
  <!--div class="ui buttons small ">
    <%=link_to "/documents/#{@document.id}/ppis.csv", class: "ui green button small ", target: "_blank" do %>
      <i class="icon download"></i> Export
    <% end %>
    <div class="ui floating dropdown icon button green small ">
      <i class="dropdown icon"></i>
      <div class="menu">
        <%=link_to "/documents/#{@document.id}/ppis.csv", class: "item", target: "_blank" do %>
          <i class="icon file text outline"></i> CSV
        <% end %>
        <%=link_to "/documents/#{@document.id}/ppis.xls", class: "item", target: "_blank" do %>
          <i class="icon file excel outline"></i> Excel
        <% end %>
      </div>
    </div>
  </div-->
<!--   <div class="ui buttons small annotation-toggles">
  </div>
 -->

  <div class="ui teal buttons annotation-toggles">
    <div class="ui button">Annotation Types</div>
    <div class="ui floating dropdown icon button">
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">
          <i class="setting icon"></i>
          <%=link_to 'Settings', document_atypes_path(@document) %>
        </div>
        <div class="divider"></div>
        <% @document.atypes.each do |type| %>
          <div class="item" data-type='A<%=type.id%>'>
            <div class="ui checkbox">
              <input type="checkbox" class="atype-check" checked>
              <label><div class="ui A<%=type.id%> empty circular <%='thin' if type.border? %> label" data-type='A<%=type.id%>'></div>
            <%=type.name %></label>
            </div>
            <!-- <input type="checkbox" class='checkbox' name="example"> -->
            
          </div>
        <% end %>
      </div>
    </div>
  </div>

<!--   <div class="ui floating olive labeled icon dropdown button annotation-toggles">
    <i class="check icon"></i>
    <span class="text">Annotation Types</span>
    <div class="menu">
    </div>
  </div> -->
</div>
<style type='text/css'>
  <% @document.atypes.each do |type| %>
    .ui.A<%=type.id%>.empty.label.circular {
      <% if type.border? %>
        border: 0.2em solid <%=type.color%> !important;
        width: 1em;
        height: 1em;
        box-sizing: border-box;
        padding: 0 !important;
      <% else %>
        background-color: <%=type.color%> !important;
      <% end %>

    }
  <% end %>
</style>
<script>
  $('.atype-check').change(function(e) {
    var $e = $(e.currentTarget);
    var type = $e.closest('.item').data('type');
    $('.main.pane').toggleClass(type + '-enabled', $e.prop('checked'));
  });
</script>