<%= render partial: "buttons" %>
<style type='text/css'>
  <% enabled = [] %>
  <% @document.atypes.each do |type| %>
    .A<%=type.id%>-enabled span.annotation.A<%=type.id%> {
      <% if type.border? %>
        border-bottom: 3px solid <%=type.color%> !important;
      <% else %>
        background-color: <%=type.color%> !important;
      <% end %>
    }

    .A<%=type.id%>-disabled span.annotation.A<%=type.id%> {
      <% if type.border? %>
        border: 3px solid transparent;
      <% else %>
        background-color: transparent;
      <% end %>      
    }
    <% enabled << "A#{type.id}-enabled" %>
  <% end %>
</style>
<div class="ui dimmer" id="documentSpinner">
  <div class="ui text loader">Loading</div>
</div>
<%= render partial: "doc_info" %>
<div class="document clearfix <%=@project.mode%>">
  <div class="left-side pane">
    <h4>Outline</h4>
    <%= render partial: "outline", locals: {nodes: @document.outline} %>
  </div>
  <div class="main pane <%=enabled.join(' ')%>" id="main-document">
    <% @document.bioc_doc.passages.each_with_index do |p, index| %>
      <div class="ui basic segment passage" data-id="<%=index%>" id="passage-<%=index%>" >
        <div class="ui top right attached label mini passage-sub-info">
          offset: <%=p.offset%> - <%=p.offset + @document.get_psize(p)%>
        </div>
        <%=render partial: "infon", locals: {infons: p.infons, cls_name: "infon-#{index}"} %>
        <a href="#" class="infon-btn ui top left attached label mini passage-sub-info" data-id="<%=index%>">
          <%=p.infons["type"]%> <div class="detail">
          <i class="icon info circle"></i><%=p.infons.size%></div>
        </a>
        <% case p.infons["type"] %>
        <% when "ref" %>
          <%=render partial: "ref", locals: {infons: p.infons, title: p.text} %>
        <% when "front" %>
          <% if p.text.blank? %>
            <h1 class="<%=p.infons["type"]%>"><%-
              p.sentences.each do |s|
                -%><%=render partial: "text_fragment", locals: {p: s, ptext: s.text}%><%-
              end
              -%></h1>
          <% else %>
            <h1 class="<%=p.infons["type"]%>"><%=render partial: "text_fragment", locals: {p: p, ptext: p.text}%></h1>
          <% end %>
          <div class="ui message">
            <%=render partial: "ref", locals: {infons: p.infons, title: nil} %>
          </div>
        <% else %>
            <% if p.text.blank? %>
              <div class="text <%=p.infons["type"]%>"><%-
                p.sentences.each do |s|
                  -%><%=render partial: "text_fragment", locals: {p: s, ptext: s.text}%><%-
                end
                -%></div>
            <% else %>
              <div class="text <%=p.infons["type"]%>"><%=render partial: "text_fragment", locals: {p: p, ptext: p.text}%></div>
            <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="ui right top right-side pane <%='readonly' unless @document.project.writable?(current_user)%>" style='display:none'>
    <% if @document.project.mode == "BioGrid" %>
      <% if @document.project.writable?(current_user) %>
        <%= render partial: "ppi_form" %>
        <% end%>
      <div class="ppis">
        <h4>
          PPI/GI Annotation List 
          <span class="ui label circular olive ppi-cnt tiny"></span>
          <div class="export-btn-section">
            <%=link_to "/documents/#{@document.id}/ppis.csv", class: "export-btn ui teal circular icon button small", title: "Export to CSV", target: "_blank" do %>
              <i class="icon download"></i> CSV
            <% end %>
            <%=link_to "/documents/#{@document.id}/ppis.xls", class: "export-btn ui teal circular icon button small", title: "Export to XLS", target: "_blank" do %>
              <i class="icon download"></i> XLS
            <% end %>
          </div>
        </h4>
        <table class="ui small table celled blue very compact">
          <thead>
            <th></th>
            <th>Gene 1</th>
            <th>Gene 2</th>
            <% if @document.project.writable?(current_user) %>
              <th></th>
            <% end %>
          </thead>
          <tbody class="ppi-list">
          </tbody>
        </table>
      </div>
    <% else %>
    <% end %>
  </div>
</div>
<% if @document.project.mode == "BioGrid" %>
  <%=render partial: "ppi_type_modal" %>
  <%=render partial: "ppi_exp_modal" %>
  <%=render partial: "delete_confirm_modal" %>
  <script id="ppi-template" type="text/x-handlebars-template">
    <tr data-id="{{id}}" class="{{toUpperCase itype}} item">
      <td class="type type-toggle" rowspan="2">
        <div class="PPI">PPI</div>
        <div class="GI">GI</div>
      </div>
      <td class='gene'>
        <a href='http://www.ncbi.nlm.nih.gov/gene?term={{gene1}}' target='_blank'><i class='icon globe'></i>{{gene1}}</a>
        <br>
        <span class='popup' title='{{name1}}'>{{name1}}</span>
        <div class='ui popup' style='display:none'>{{name1}}</div>
      </td>
      <td class='gene'>
        <a href='http://www.ncbi.nlm.nih.gov/gene?term={{gene2}}' target='_blank'><i class='icon globe'></i>{{gene2}}</a>
        <br>
        <span class='popup' title='{{name2}}'>{{name2}}</span>
        <div class='ui popup' style='display:none'>{{name2}}</div>
      </td>
      <% if @document.project.writable?(current_user) %>
        <td class='action' rowspan="2">
          <a class="delete-button" rel="nofollow" href="#" title="Delete">
            <i class="delete icon"></i>
          </a>
        </td>
      <% end %>
    </tr>
    <tr data-id="{{id}}" class="item">
      <td colspan="2" class="exp-name">
        <span>{{exp}}</span>
        <% if @document.project.writable?(current_user) %>
          <a class="edit-button" rel="nofollow" href="#" title="Edit">
            <i class="write icon"></i>
          </a>
        <% end %>
      </td>
    </tr>
  </script>
<% end %>
<script>
$(function() {
  var doc = new BioC('<%=@document.id%>', {
    root: '<%=root_path%>',
    mode: '<%=@document.project.mode %>',
    isReadOnly: '<%='true' unless @document.project.writable?(current_user)%>',
    ppiArray: [
     <% @document.ppis.each do |p| %>
        {
          id: <%=p.id%>,
          document_id: <%=p.document_id %>,
          itype: '<%=p.itype %>',
          exp: '<%=p.exp %>',
          gene1: '<%=p.gene1 %>',
          name1: '<%=p.name1 %>',
          gene2: '<%=p.gene2 %>',
          name2: '<%=p.name2 %>',
          url: '<%=ppi_url(p, format: :json) %>'
        },
      <% end %>
    ]
  });
  $("#documentSpinner").removeClass("active");
});
</script>