<%= form_for(@project, html: {class: "ui form"}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :mode %>
    <div class="ui radio checkbox" style='margin-right: 2em;'>
      <%= f.radio_button(:mode, 'Normal') %>
      <label>Normal</label>
    </div>
    <div class="ui radio checkbox">
      <%= f.radio_button(:mode, 'BioGrid') %>
      <label>PPI/GI curation tool is visible. This tool can be used for PPI/GI curation for BioGRID</label>
    </div>
    
  </div>

  <div class="actions">
    <% if params[:action] == 'new' %>
      <%= link_to 'Back', projects_path, class: "ui button" %>
    <% else %>
      <%= link_to 'Back', @project, class: "ui button" %>
    <% end %>
    <%= f.submit  class: "ui primary button" %>
  </div>
<% end %>

<script>
$(function() {
  $('select.dropdown').dropdown();
});
</script>
