<h1 class="ui dividing header">Projects</h1>

<table  class="ui table celled striped ">
  <thead>
    <tr>
      <th>Title</th>
      <th>Mode</th>
      <th># Documents</th>
      <th>Owner</th>
      <th># Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%=link_to project.title, project %></td>
        <td><%= project.mode %></td>
        <td><%= project.documents.size %></td>
        <td><%= project.owner.name %></td>
        <td><%= project.users.size %></td>
        <td>
          <div class="ui right pointing dropdown">
            <i class="setting icon blue"></i>
            <div class="menu">
              <div class="item">
                <%= link_to project_project_users_path(project) do %>
                  <i class="icon users"></i> Manage Users
                <% end %>
              </div>
              <div class="ui divider"></div>
              <div class="item">
                <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="delete icon"></i> Remove
                <% end %>
              </div>
            </div>
          </div>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_project_path, class: "ui primary button" do %>
  <i class="icon add"></i> New Project
<% end %>
<a href="/10366597.xml" style="margin-top: -1em; margin-bottom: 2em; display: block; width: 100%; text-align: right;">
  <i class="icon download"></i> Download a sample BioC document
</a> 

