<h2 class="ui dividing header">
  <%= @project.title %>
</h2>

<ul class="ui bulleted list">
  <li class="item">
    <strong>Owner:</strong>
    <%= @project.owner.name %>
  </li>
  <li class="item">
    <strong>Description:</strong>
    <%=simple_format @project.description %>
  </li>
</ul>

<table class="ui table celled striped ">
  <thead>
    <tr>
      <th>id</th>
      <th>Doc ID</th>
      <th>Source</th>
      <th>Date</th>
      <th>Key</th>
      <th>Updated At</th>
      <th></th>
    </tr>
  </thead>
  <% @project.documents.each do |d| %>
    <tr>
      <td><%=link_to d.id, d %></td>
      <td><%=link_to d.doc_id, d %></td>
      <td><%= d.source %></td>
      <td><%= d.d_date %></td>
      <td><%= d.key %></td>
      <td><%=time_ago_in_words d.updated_at %> ago </td>
      <td>
        <div class="ui right pointing dropdown">
          <i class="setting icon"></i>
          <div class="menu">
            <div class="ui divider"></div>
            <div class="item">
              <%= link_to d, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="delete icon"></i> Remove
              <% end %>
            </div>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<% if @project.writable?(current_user) %>
  <div class="ui dimmer" id="uploadSpinner">
    <div class="ui text loader">Uploading</div>
  </div>
  <div id="fileuploader">Upload BioC Documents</div>
<% end %>

<div class="ui divider"></div>
<%= link_to 'Back', projects_path , class: "ui button"%>
<% if @project.admin?(current_user) %>
  <%= link_to 'Edit', edit_project_path(@project), class: "ui button" %>
  <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui button red" %>
<% end %>

<script>

$(function() {
  $("#fileuploader").uploadFile({
    url: "/projects/1/documents",
    fileName: "file",
    sequential: true,
    sequentialCount: 1,
    dragdropWidth: '100%',
    allowedTypes: 'xml',
    uploadStr: 'Upload Multiple BioC Documents',
    afterUploadAll: function(obj) {
      location.reload();
    }
  });

  $("#hiddenFileInput").change(function() {
    $("#uploadSpinner").addClass("active");
    $("#uploadForm").submit();
  });

  $("#uploadBtn").click(function() {
    $("#hiddenFileInput").click();
  });
});
</script>