<h1 class="ui dividing header">
  <%= @project.title %>
  <div class="sub header"><%= @project.mode %> Project</div>
</h1>

<ul class="ui bulleted list">
  <li class="item">
    <strong>Owner:</strong>
    <%= @project.owner.name %>
  </li>
  <% unless @project.description.blank? %>
    <li class="item">
      <strong>Description:</strong>
      <%=simple_format @project.description %>
    </li>
  <% end %>
</ul>

<div class="page-info">
  Total <b><%=@documents.total_count %></b> documents
  <% unless @documents.empty? %>
    (<b><%=@documents.current_page %></b> of <b><%=@documents.total_pages %></b> pages)
  <% end %>
</div>
<% if @documents.empty? %>
  <div class="ui message info">
    No document yet. Please upload documents first.
  </div>

<% else %>
  <table class="ui table celled striped ">
    <thead>
      <tr>
        <th>Doc ID</th>
        <th>Original Filename</th>
        <th>Source</th>
        <th>Date</th>
        <th>Key</th>
        <% if @project.mode == "BioGrid" %>
          <th># Interactions</th>
        <% end %>
        <th>Created At</th>
        <th></th>
      </tr>
    </thead>
    <% @documents.each do |d| %>
      <tr>
        <td><%=link_to d.doc_id, d %></td>
        <td><%= d.filename %></td>
        <td><%= d.source %></td>
        <td><%= d.d_date %></td>
        <td><%= d.key %></td>
        <% if @project.mode == "BioGrid" %>
          <td><%= d.ppis.size %></td>
        <% end %>
        <td><%=time_ago_in_words d.created_at %> ago </td>
        <td>
          <div class="ui right pointing dropdown">
            <i class="setting icon blue"></i>
            <div class="menu">
              <div class="item">
                <%=link_to "/documents/#{d.id}.xml", target: "_blank" do %>
                  <i class="icon file"></i> Download BioC
                <% end %>
              </div>
              <div class="item">
                <%=link_to "/documents/#{d.id}/edit" do %>
                  <i class="icon pencil"></i> Edit Document Info.
                <% end %>
              </div>
              <% if @project.mode == "BioGrid" %>
                <div class="ui divider"></div>
                <div class="item">
                  <%=link_to "/documents/#{d.id}/ppis.csv", target: "_blank" do %>
                    <i class="icon download"></i> Export Interactions to CSV
                  <% end %>
                </div>
                <div class="item">
                  <%=link_to "/documents/#{d.id}/ppis.xls", target: "_blank" do %>
                    <i class="icon download"></i> Export Interactions to XLS
                  <% end %>
                </div>
              <% end %>
              <% if @project.admin?(current_user) %>
                <div class="ui divider"></div>
                <div class="item">
                  <%= link_to [@project, d], method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="delete icon"></i> Remove
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="pagination-section">
    <%= paginate @documents %>
  </div>
<% end %>
<% if @project.admin?(current_user) %>
  <div class="ui dimmer" id="uploadSpinner">
    <div class="ui text loader">Uploading</div>
  </div>
  <div id="fileuploader">Upload BioC Documents</div>
  <a href="/10366597.xml" style="margin-top: -1em; margin-bottom: 2em; display: block; width: 100%; text-align: right;">
    <i class="icon download"></i> Download sample BioC document for test
  </a> 
  <div class='ui message blue merge-recommender'>
    <i class="close icon"></i>
    <div class="ui dimmer" id="reloadSpinner">
      <div class="ui text loader">Reloading</div>
    </div>
    <div class='header'>
      Found documents possible to merge
    </div>
    <table class='ui small compact selectable inverted teal table'>
      <thead>
        <tr>
          <th>Doc ID</th>
          <th>Source</th>
          <th>Key</th>
          <th>Date</th>
          <th># Documents</th>
          <th></th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
<% end %>

<div class="ui divider"></div>

<%= link_to projects_path , class: "ui button" do %>
  <i class="icon angle left"></i> Back
<% end %>
<% if @project.admin?(current_user) %>
  <%= link_to edit_project_path(@project), class: "ui button" do %>
    <i class="icon setting"></i> Project Settings
  <% end %>
  <%= link_to project_project_users_path(@project), class: "ui button teal" do %>
    <i class="icon users"></i> Manage Users
  <% end %>
  <%= link_to @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui button red" do %>
    <i class="icon trash"></i> Remove Project
  <% end %>
<% end %>
<%=render partial: 'merge_documents_modal' %>
<script id="merge-row-template" type="text/x-handlebars-template">
  <tr data-source="{{source}}" data-id="{{doc_id}}" data-doc="{{documents}}" 
      data-key="{{key}}" data-date="{{d_date}}">
    <td>{{doc_id}}</td>
    <td>{{source}}</td>
    <td>{{key}}</td>
    <td>{{d_date}}</td>
    <td>{{cnt}}</td>
    <td><button class='ui button olive mini btn-merge'>Merge</button></td>
  </tr>
</script>
<script id="merge-dialog-template" type="text/x-handlebars-template">
  <h3>{{cnt}} files to be merged</h3>
  <ul class="doc-for-merge" data-doc="{{documents}}">
    <li>ID: {{id}}</li>
    <li>Source: {{source}}</li>
    <li>Key: {{key}}</li>
    <li>Date: {{date}}</li>
  </ul>
</script>

<script>
$(function() {
  var mergeTemplate = Handlebars.compile($("#merge-row-template").html())
  var mergeDialogTemplate = Handlebars.compile($("#merge-dialog-template").html())

  $("#fileuploader").uploadFile({
    url: "/projects/<%=@project.id%>/documents",
    fileName: "file",
    sequential: true,
    sequentialCount: 1,
    dragdropWidth: '100%',
    allowedTypes: 'xml',
    uploadStr: 'Upload Multiple BioC Documents',
    afterUploadAll: function(obj) {
      console.log(obj);
      location.reload();
    },
    onError: function(files,status,errMsg,pd) {
      //files: list of files
      //status: error status
      //errMsg: error message
      if (errMsg === 'Unprocessable Entity') {
        toastr.error(files[0] + ": Invalid document to BioC DTD", null,{
          positionClass: "toast-bottom-full-width"
        });
      } else {
        toastr.error(errMsg);
      }
      // location.reload();
    }, 
    onSuccess:function(files,data,xhr,pd) {
      //files: list of files
      //data: response from server
      //xhr : jquer xhr object
      toastr.success(files + " files were uploaded successfully.", null,{
        positionClass: "toast-bottom-full-width"
      });
      
    }

  });

  $("#hiddenFileInput").change(function() {
    $("#uploadSpinner").addClass("active");
    $("#uploadForm").submit();
  });

  $("#uploadBtn").click(function() {
    $("#hiddenFileInput").click();
  });
<% if @project.admin?(current_user) %>
  $.getJSON("<%=url_for check_same_documents_project_path(@project)%>", function(data) {
    if (data && data.length > 0) {
      _.each(data, function(item) {
        $('.merge-recommender table tbody').append(mergeTemplate(item));
      });
      $('.merge-recommender').addClass('has-same');

      $('.btn-merge').click(function(e) {
        var $tr = $(e.currentTarget).closest('tr');
        var documents = $tr.data('doc').split(',');
        var item = {
          source: $tr.data('source'),
          id: $tr.data('id'),
          date: $tr.data('date'),
          key: $tr.data('key'),
          cnt: documents.length,
          documents: documents
        };
        $('.merge-dialog .info').html(mergeDialogTemplate(item));
        $('#mergeProgress').progress({
          value: 0, 
          total: documents.length,
          text: {
            active  : 'Merging {value} of {total} files',
            success : '{total} files merged!'
          }
        });
        $('.merge-dialog').modal({
          blurring: true
        })
        .modal('show');
      });
    }
  });
<% end %>
});
</script>