<h1 class="ui dividing header">
  <%= @project.title %>
</h1>


<table class="ui table celled striped ">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Read</th>
      <th>Write</th>
      <th>Admin</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_users.each do |p| %>
      <tr>
        <td>
          <%= p.user.email %>
        </td>
        <td><%= p.user.name %></td>
        <td><i class='icon checkmark <%=ox_class(p.readable?)%>'></i></td>
        <td><i class='icon checkmark <%=ox_class(p.writable?)%>'></i></td>
        <td><i class='icon checkmark <%=ox_class(p.admin?)%>'></i></td>
        <td>
          <% if @project.owner?(p.user) %>
            <span class="ui green mini label">Owner</span>
          <% elsif @project.admin?(current_user)%>
            <div class="ui right pointing dropdown">
              <i class="setting icon blue"></i>
              <div class="menu">
                <div class="item">
                  <%= link_to edit_project_project_user_path(@project, p) do %>
                    <i class="icon setting"></i> Edit privilege
                  <% end %>
                </div>
                <div class="ui divider"></div>
                <div class="item">
                  <%= link_to p, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="remove user icon"></i> Remove User
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to @project , class: "ui button" do %>
  <i class="icon angle left"></i> Back
<% end %>
<% if @project.admin?(current_user) %>
  <%= link_to new_project_project_user_path(@project), class: "ui button blue" do %>
    <i class="icon add user"></i> Add User
  <% end %>
<% end %>
