<p>
  <strong>User:</strong>
  <%= @project_user.owner.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_user.project %>
</p>

<p>
  <strong>Priv:</strong>
  <%= @project_user.priv %>
</p>

<%= link_to 'Edit', edit_project_user_path(@project_user) %> |
<%= link_to 'Back', project_users_path %>
