<p id="notice"><%= notice %></p>

<h1>Listing Temp Documents</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Document</th>
      <th>Xml</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp_documents.each do |temp_document| %>
      <tr>
        <td><%= temp_document.user %></td>
        <td><%= temp_document.document %></td>
        <td><%= temp_document.xml %></td>
        <td><%= link_to 'Show', temp_document %></td>
        <td><%= link_to 'Edit', edit_temp_document_path(temp_document) %></td>
        <td><%= link_to 'Destroy', temp_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp document', new_temp_document_path %>
